*{
    padding: 0%;
    margin: 0px;
}





.carmodel_header h3{
    font-size: 30px;
    text-align: start;
    padding: 20px;
}

.model_types{
    text-align: center;
    margin: 50px;
}

.model_types ul{
   
   display: flex;
   list-style: none;
  justify-content: center;
  font-size: 20px;
  
}
.model_types a{
    text-decoration: none;
    margin: 30px;
  
   
}

.car_img h5{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.car_img img{
    height: 30%;
    width: 40%;
    
    display: flex;
  margin-left: auto;
  margin-right: auto;
 position: relative;
  
}

.model_head{
    position: relative;
}


.carPoint_head{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.carPoint_head div{
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 3px black;

}

.carPoint_head p{
    margin: 15px;
}



.head h4{
    text-align: center;
    font-size: 30px;
    margin: 40px;
}

.head_image img{
    height: 500px;
    width: 600px;
}

.head_para p{
    font-size: 20px;
    line-height: 40px;
    width: 700px;
    font-weight: bolder;

}

.detail_head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.second_head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}

.second_image img{
   
    height: 130px;
    width: 130px;
}

.head_para button{
    /* margin-right: 50px;
    margin-top: 100px; */
    height: 40px;
    width: 100px;
    margin: 100px 100px 100px 100px;
}


#car-container{
    display: flex;
    position: relative;
}



.car-detail{
    width: 100%;
}


.shownxt_car{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 28%;
    width: 100%;
}

.fa-solid{
    margin: 150px;
    font-size: 40px;
    z-index: 9999999;
}