#access{
    display: flex;
    overflow: scroll;
    height: 300px;
  
    
}
#access img{
    height: 150px;
    width: 200px;
    margin: 15px;
    /* box-sizing: border-box;
    box-shadow: 1px 3px 3px 3px black; */
   
}
#access p {
    width: 400px;
   
}


.showaccessories{
    box-sizing: border-box;
    box-shadow: 1px 3px 3px 3px black;
    width: 230px;
    margin: 20px;
}

.showaccessories p{
    font-size: 20px;
    font-weight: 900;

}


/* #access img::-webkit-scrollbar{
    display: none;
} */